/.vscode/
.env
/pgdata/
/redis/
/orbfin/
/nginx/logs
/nginx/ssl
/java/orb-gateway/target
/java/orb-accounts/target
/java/orb-products-services/target
/java/orb-finance/target
/java/orb-real-estate/target
/java/orb-investments/target
/java/orb-insurance/target
/java/orb-gateway/gateway/src/test
/java/orb-accounts/accounts/src/test
/java/orb-products-services/products-services/src/test
/java/orb-finance/finance/src/test
/java/orb-real-estate/real-estate/src/test
/java/orb-investments/investments/src/test
/java/orb-insurance/insurance/src/test