/.vscode/
.env
/pgdata/
/redis/
/orbfin/
nginx/logs
nginx/ssl
java/orb-accounts/target
java/orb-products-services/target
java/orb-finance/target
java/orb-real-estate/target
java/orb-investments/target
java/orb-insurance/target