/.vscode/
.env
/pgdata/
/redis/
/orbfin/
/nginx/logs
/nginx/ssl
/kafka
/zookeeper
/java/orb-gateway/gateway/target
/java/orb-accounts/accounts/target
/java/orb-products-services/products-services/target
/java/orb-finance/finance/target
/java/orb-real-estate/real-estate/target
/java/orb-investments/investments/target
/java/orb-insurance/insurance/target